[submodule "gd-notification-ms/proto"]
	path = gd-notification-ms/proto
	url = https://github.com/vynious/gd-protorepo.git
[submodule "gd-queue-ms/proto"]
	path = gd-queue-ms/proto
	url = https://github.com/vynious/gd-protorepo.git
[submodule "gd-joinqueue-cms/proto"]
	path = gd-joinqueue-cms/proto
	url = https://github.com/vynious/gd-protorepo.git
[submodule "gd-gym-avail-ms/proto"]
	path = gd-gym-avail-ms/proto
	url = https://github.com/vynious/gd-protorepo.git
[submodule "proto"]
	path = gd-booking-ms/proto
	url = https://github.com/vynious/gd-protorepo.git
[submodule "proto"]
	path = gd-createbooking-cms/proto
	url = https://github.com/vynious/gd-protorepo.git
